.Burger{
    width : 100%;
    margin: auto;
    /* margin-top :260px; */
    height: 200px;
     overflow:scroll ; 
    text-align: center;
    font-weight:bold;
    font-size:1.2rem;
    /* background-color:black; */
    /* color : white; */
    padding : 80px 40px;
}
@media (min-width:1000px) and (max-height:700px){
    .Burger{
        width: 600px;
        height: 300px;
    }
}
@media (max-width:999px) and (min-height:501px){
    .Burger{
        width:80%;
        height: 290px;
    }
}
@media (max-width:500px) and (max-height:400px){
    .Burger{
        width:350px;
        height: 300px;
    }
}